{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 1,
  last: false,
  title: 'Title screen'
} %}

{% block content %}

  <h1>
    Empathy in Accessibility
  </h1>

{% endblock %}