{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgWhite',
  no: 10,
  last: false,
  title: "Disabled logo"
} %}

{% block content %}

  <h1>
    This is internationally recognised symbol for disability.
  </h1>

  <p>
    It is usually accompanied by text like 'disabled parking'.
  </p>

  <img src="../img/icon-disabled.jpg" alt="Disabled logo" />

{% endblock %}