{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 100,
  last: false,
  title: "List of American companies"
} %}

{% block content %}

  <h1>
    Many American companies are being sued for being inaccessible.
  </h1>

  <ul>
    <li>
      Five Guys
    </li>
    <li>
      Mcdonalds
    </li>
    <li>
      Grubhub
    </li>
    <li>
      Hobby Lobby
    </li>
    <li>
      K-Mart
    </li>
    <li>
      Red Lobster
    </li>
    <li>
      TGI Fridays
    </li>
  </ul>

{% endblock %}