{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 102,
  last: false,
  title: "Beyonce"
} %}

{% block content %}

  <h1>
    Spend your money on accessibility, not lawyers.
  </h1>

{% endblock %}