{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 103,
  last: false,
  title: "Molly Watt Quote"
} %}

{% block content %}

  <h1>
    <blockquote class="small">
      <p>
        20% of the population has a disability. It’s the same as the number of 
        people who have blue eyes.
      </p>
      <p>
        Imagine telling somebody they can’t
        use your service because their eyes
        are the wrong colour.
      </p>
      <footer>– <a href="https://twitter.com/mollywatttalks">Molly Watt</a></footer>
    </blockquote>
  </h1>

  <p>
    
  </p>

{% endblock %}