{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 104,
  last: false,
  title: "If your product is accessible you have another 10 million potential customers"
} %}

{% block content %}

  <h1>
    If your product is accessible, you have another 10 million potential customers.
  </h1>

{% endblock %}