{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 105,
  last: false,
  title: "Accessibilty experts are rare"
} %}

{% block content %}

  <h1>
    Accessibility experts are rare.
  </h1>
  <p>
    People will pay for your knowledge.
  </p>

{% endblock %}