{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 106,
  last: false,
  title: "Be passionate about accessibility"
} %}

{% block content %}

  <h1>
    Be passionate about accessibility because it's the right thing to do.
  </h1>

{% endblock %}