{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 107,
  last: false,
  title: "Be passionate about accessibility"
} %}

{% block content %}

  <h1>
    If we design things with accessibility in mind, it makes things better for <strong>everybody!</strong>
  </h1>

{% endblock %}