{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 108,
  last: false,
  title: "Colin Oakley quote"
} %}

{% block content %}

  <h1>
    <blockquote>
      <p>
        Why are we even talking about accessibility? It's a human right and it 
        should be done by default!
      </p>
      <footer>– Colin Oakley</footer>
    </blockquote>
  </h1>

{% endblock %}