{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgWhite',
  no: 12,
  last: false,
  title: "Accessible Icon information"
} %}

{% block content %}

  <h1>
    You can get stencils and stickers to join in the movement.
  </h1>

  <img src="../img/accessible-icon-org.jpg" alt="New accessible icon sticker over the top of old disabled logo" />

  <p>
    <a href="accessibleicon.org">
      accessibleicon.org
    </a>
  </p>

{% endblock %}