{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 13,
  last: false,
  title: "Disabilities and impairments are not the same"
} %}

{% block content %}

  <h1>
    Disabilities and impairments are <strong>not</strong> the same.
  </h1>



{% endblock %}