{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 14,
  last: false,
  title: "What is an impairment?"
} %}

{% block content %}

  <h1>
    Impairment
  </h1>

  <p>
    An impairment is medical. It's the condition or symptoms that a person experiences.
    <span>for example: low vision or blindness</span>
  </p>

{% endblock %}