{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 15,
  last: false,
  title: "What is a disability?"
} %}

{% block content %}

  <h1>
    Disability
  </h1>

  <p>
    When a person finds it difficult to perform everyday tasks to a level that is 
    considered normal for most people.
  </p>

{% endblock %}