{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 16,
  last: false,
  title: "Impairment vs disability"
} %}

{% block content %}

  <h1>
    An impairment doesn't always mean a person considers themselves disabled.
  </h1>

  <p>
    <span class="visually-hidden">This is </span><span role="presentation">!</span>important
  </p>

{% endblock %}