{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 17,
  last: false,
  title: "Example 1 - Wheelchair user"
} %}

{% block content %}

  <h1>
    Example 1
  </h1>

  <p>
    Imagine you are a wheelchair user, and you want to get a book from the library.
  </p>

{% endblock %}