{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 23,
  last: false,
  title: "People are not always disabled by their impairments"
} %}

{% block content %}

  <h1>
    People are not always disabled by their impairments, they are disabled by poorly 
    designed environments.
  </h1>



{% endblock %}