{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 24,
  last: false,
  title: "An environment might not always be a physical space. It can be digital."
} %}

{% block content %}

  <h1>
    An environment might not always be a physical space. It can be digital.
  </h1>



{% endblock %}