{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 25,
  last: false,
  title: "Example 2 - Colour blindness"
} %}

{% block content %}

  <h1>
    Example 2
  </h1>

  <p>
    Imagine you're colour blind and you want to check how well a team 
    is playing before placing a bet.
  </p>

{% endblock %}