{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 26,
  last: false,
  title: "Premier League table in colour"
} %}

{% block content %}

  <h1>
    This is the Premier League table as shown on a popular sporting website.
  </h1>

  <img src="../img/exercise-2-table-full.jpg" alt="Premier league table" />

{% endblock %}