{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 3,
  last: false,
  title: "I don't have a disability yet"
} %}

{% block content %}

  <h1>
    I don't have a disability... <strong>yet</strong>.
  </h1>
  
{% endblock %}