{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 32,
  last: false,
  title: "Photoshop"
} %}

{% block content %}

  <h1>
    Photoshop
  </h1>

  <p class="visually-hidden">
    You can simulate colour blindness in the proof settings on Adobe Photoshop.
  </p>

  <img src="../img/photoshop.jpg" alt="Photoshop with the view menu open showing the proof options for colour blindness" />

{% endblock %}