{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 33,
  last: false,
  title: "Colour contrast"
} %}

{% block content %}

  <h1>
    When using colour, contrast is important.
  </h1>



{% endblock %}