{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgIntense',
  no: 34,
  last: false,
  title: "The wrong contrast can make things intense"
} %}

{% block content %}

  <h1>
    The wrong contrast can make things intense!
  </h1>



{% endblock %}