{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgDyslexia',
  no: 35,
  last: false,
  title: "Contrast and dyslexia"
} %}

{% block content %}

  <h1>
    People with dyslexia often prefer soft contrasts.
  </h1>

{% endblock %}