{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgLowContrast',
  no: 36,
  last: false,
  title: "Low contrast"
} %}

{% block content %}

  <h1>
    Low contrast can make everything difficult to read!
  </h1>

{% endblock %}