{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 37,
  last: false,
  title: "Web Aim contrast checker"
} %}

{% block content %}

  <h1>
    Web Aim Contrast Checker
  </h1>

  <img src="../img/webaim-colour-contrast-checker.jpg" alt="WebAim Colour Contrast Checker" />

  <p>
    <a href="https://webaim.org/resources/contrastchecker/">
      WebAim Colour Contrast Checker
    </a>  
  </p>

{% endblock %}