{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 38,
  last: false,
  title: "Contrast Checker for Mac"
} %}

{% block content %}

  <h1>
    Contrast Checker for Mac
  </h1>

  <img src="../img/colour-contrast-for-mac.jpg" alt="The Contrast Checker app" />

  <p>
    <a href="https://itunes.apple.com/gb/app/contrast-color-accessibility/id1254981365?mt=12">
      Colour Contrast for Mac
    </a>
  </p>

{% endblock %}