{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 39,
  last: false,
  title: "Accessibility should be designed from the start, not an afterthought"
} %}

{% block content %}

  <h1>
    Accessibility should be designed from the start, not an afterthought.
  </h1>



{% endblock %}