{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 41,
  last: false,
  title: "If you think about accessibility too late you will end up with an ugly solution"
} %}

{% block content %}

  <h1>
    If you think about accessibility too late you will end up with an ugly solution.
  </h1>

  <img src="../img/ramp-1.jpg" alt="A house several metres above street level has an unusually long wheelchair ramp going back and fourth.">  

{% endblock %}