{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 42,
  last: false,
  title: "Even if we are thinking about accessibility, implementing it without talking 
    to any users will be disastrous"
} %}

{% block content %}

  <h1>
    Even if we are thinking about accessibility, implementing it without talking 
    to any users will be disastrous.
  </h1>



{% endblock %}