{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 43,
  last: false,
  title: "Robson Square – Vancouver"
} %}

{% block content %}

  <h1>
    Robson Square – Vancouver
  </h1>

  <p class="visually-hidden">
    Robson Square is often outlined as a good example of accessible design as the 
    stairs and the ramp are intergrated as one piece. 
  </p>

  <img src="../img/robson-square-2.jpg" alt="Steps with a ramp cut into them in Robson Square in Vancouver" />

{% endblock %}