{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 45,
  last: false,
  title: "Designers don't usually make things inaccessible on purpose"
} %}

{% block content %}

  <h1>
    Designers don't usually make things inaccessible on purpose. 
    It's just a lack of awreness or foresight.
  </h1>



{% endblock %}