{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 47,
  last: false,
  title: "Sometimes we try to make things better and we make things worse"
} %}

{% block content %}

  <h1>
    Sometimes we try to make things better and we make things worse.
  </h1>

{% endblock %}