{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 48,
  last: false,
  title: "GOVUK date component empty"
} %}

{% block content %}

  <h1>
    GOVUK date component
  </h1>

  <img src="../img/date-incomplete.jpg" alt="The GOVUK date component. There are 3 input fields. Day, Month, Year." />

{% endblock %}