{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 49,
  last: false,
  title: "GOVUK date component completed"
} %}

{% block content %}

  <h1>
    GOVUK date component filled in
  </h1>

  <img src="../img/date-complete.jpg" alt="3 input fields for Day, Month, Year. Month has 'September' written in it" />

{% endblock %}