{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 5,
  last: false,
  title: "People living with a disability are far more common than you might have realised"
} %}

{% block content %}

  <h1>
    People living with a disability are far more common than you might have realised.
  </h1>

{% endblock %}