{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgWhite',
  no: 52,
  last: false,
  title: "Dragon Naturally Speaking"
} %}

{% block content %}

  <h1 class="visually-hidden">
    Dragon Natually Speaking
  </h1>

  <img src="../img/logo-dragon.jpg" alt="Logo for Dragon Naturally Speaking" />

{% endblock %}