{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 53,
  last: false,
  title: "Dragon is smart"
} %}

{% block content %}

  <h1>
    Dragon is smart
  </h1>

{% endblock %}