{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 57,
  last: false,
  title: "Learn how to use your device's own assistive technology"
} %}

{% block content %}

  <h1>
    Learn how to use your device's own assistive technology.
  </h1>



{% endblock %}