{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 6,
  last: false,
  title: "Roughly 11.9 million adults in the UK are living with a disability"
} %}

{% block content %}

  <h1>
    Roughly 11.9 million adults in the UK are living with a disability.
  </h1>
  
  <p>
    1 in 5 people or 20%
  </p>

  <p>
    <a href="http://www.craigabbott.co.uk/accessibility-is-not-an-edge-case">
      Accessibility is not an edge case
    </a>
  </p>
  
{% endblock %}