{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 60,
  last: false,
  title: "Mac Voice Control"
} %}

{% block content %}

  <h1>
    Mac Voice Control
  </h1>

  <img src="../img/speech-recognition-mac.jpg" alt="Mac Voice Control settings" />

{% endblock %}