{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 61,
  last: false,
  title: "Windows Speech Recognition"
} %}

{% block content %}

  <h1>
    Windows Speech Recognition
  </h1>

  <img src="../img/speech-recognition-windows.jpg" alt="Windows speech recognition settings" />

{% endblock %}