{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 62,
  last: false,
  title: "How I prototype"
} %}

{% block content %}

  <h1>
    How I prototype
  </h1>

  <img src="../img/cat-gif.gif" alt="A cat frantically patting a computer keyboard" />

{% endblock %}