{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 65,
  last: false,
  title: "Not everyone who uses a screen reader is blind."
} %}

{% block content %}

  <h1>
    Not everyone who uses a screen reader is blind. So it's important to test with a 
    range of people.
  </h1>



{% endblock %}