{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 66,
  last: false,
  title: "Research regularly with users on their own devices in their own environment"
} %}

{% block content %}

  <h1>
    Research regularly with users on their own devices in their own environment.
  </h1>



{% endblock %}