{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 67,
  last: false,
  title: "Getting people onboard is hard"
} %}

{% block content %}

  <h1>
    Getting people onboard is hard
  </h1>



{% endblock %}