{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 68,
  last: false,
  title: "Try empathy building exercises with your team"
} %}

{% block content %}

  <h1>
    Try empathy building exercises with your team.
  </h1>



{% endblock %}