{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 7,
  last: false,
  title: "In 2017 only 22% of adults living with a disability said they had never used the internet"
} %}

{% block content %}

  <h1>
    In 2017 only 22% of adults living with a disability said they had never used the internet.
  </h1>
  
  <p>
    About 2.6 million people
  </p>

  <p>
    <a href="http://www.craigabbott.co.uk/accessibility-is-not-an-edge-case">
      Accessibility is not an edge case
    </a>
  </p>
  
{% endblock %}