{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 71,
  last: false,
  title: "Action Deafness posters"
} %}

{% block content %}

  <h1>
    Action Deafness posters
  </h1>

  <img src="../img/action-deafness-posters.jpg" alt="Posters from Action Deafness illustrating how it can be difficult for deaf people if you don't speak clearly." />

  <p>
    <a href="https://actiondeafness.org.uk/product/deaf-awareness-posters/">
      Action Deafness posters
    </a>
  </p>
{% endblock %}