{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 75,
  last: false,
  title: "Vine Sim Specs"
} %}

{% block content %}

  <h1>
    Vine Sim Specs
  </h1>
  
  <img src="../img/vine-sim-specs.jpg" alt="A carry case from Vine Sim Specs containing pairs of simulaton glasses" />

{% endblock %}