{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 77,
  last: false,
  title: "Vine Sim Specs in use"
} %}

{% block content %}

  <h1>
    This is my team, trying to fill in Government forms whilst wearing the Vine 
    Sim Specs.
  </h1>
  
  <img src="../img/vine-sim-specs-team.jpg" alt="A group of people wearing simulation glasses holding paper forms" />

{% endblock %}