{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 78,
  last: false,
  title: "Unplug the mouse"
} %}

{% block content %}

  <h1>
    Unplug the mouse and have people try and do an everyday online task.
  </h1>

  <p>
    For example: open the browser, go to Google, search for BBC Weather and find 
    out what the weather forcast is for tomorrow.
  </p>
  
{% endblock %}