{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 8,
  last: false,
  title: "9.3 million people in the UK alone are living with a disability and browsing the internet"
} %}

{% block content %}

  <h1>
    9.3 million people in the UK alone are living with a disability and browsing the internet.
  </h1>

  <p>
    <a href="http://www.craigabbott.co.uk/accessibility-is-not-an-edge-case">
      Accessibility is not an edge case
    </a>
  </p>
  
{% endblock %}