{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 80,
  last: false,
  title: "Example of video with no subtitles"
} %}

{% block content %}

  <h1>
    Example of video with no subtitles
  </h1>
  
  <section class="player">
    <div class="controls">
      <button class="playpause">Play</button>
      <button class="stop">Stop</button>
      <button class="rwd">Rewind</button>
      <button class="fwd">Forward</button>
      <div class="time">00:00</div>
    </div>

    <video controls aria-label="Video without subtitles – A woman reading the news. A shot of a building with plants on the exterior walls."
      <source src="../img/subtitles-not-present.mp4" type="video/mp4">
      <p>
        Your browser doesn't support HTML5 video.
      </p>
    </video>
  </section>
  
{% endblock %}