{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 82,
  last: false,
  title: "Aegisub"
} %}

{% block content %}

  <h1>
    Aegisub
  </h1>
  
  <img src="../img/aegisub.jpg" alt="Aegisub software" />
  
  <p>
    <a href="http://aegisub.org">
      Aegisub
    </a>
  </p>

{% endblock %}