{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 84,
  last: false,
  title: "Example of bad YouTube captions"
} %}

{% block content %}

  <h1>
    This is an example of how bad YouTube can get the auto-captions.
  </h1>
  
  <img src="../img/youtube-subtitles.jpg" alt="A YouTube video of Craig Abbott talking at Sunderland Digital. The subtitle reads: Look D at Baia three breasts her name" />

{% endblock %}