{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 85,
  last: false,
  title: "Transcripts"
} %}

{% block content %}

  <h1>
    At the very least, include a transript of the video. This can just be a text 
    file or a HTML page that somebody can read.
  </h1>
  
{% endblock %}