{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 9,
  last: false,
  title: "When we think of a disability, we often think <strong>'wheelchair'</strong>. But there are so many that are less obvious. And this can make us ignorant."
} %}

{% block content %}

  <h1>
    When we think of a disability, we often think <strong>'wheelchair'</strong>. 
    But there are so many that are less obvious. And this can make us ignorant.
  </h1>

{% endblock %}