{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 90,
  last: false,
  title: "Automated tools are not enough"
} %}

{% block content %}

  <h1>
    Automated tools are not enough!
  </h1>

{% endblock %}