{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 92,
  last: false,
  title: "Tools can't replace usability testing"
} %}

{% block content %}

  <h1>
    Tools can be good to build empathy and find obvious errors, but they can never 
    replace usability testing.
  </h1>
  
{% endblock %}