{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 93,
  last: false,
  title: "Inclusion > Empathy"
} %}

{% block content %}

  <h1>
    <blockquote>
      Inclusion > Empathy
      <footer>– Liz Jackson</footer>
    </blockquote>
  </h1>

{% endblock %}