{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 94,
  last: false,
  title: "More than 1 in 3 people show an unconsiouc bias against those with a disability"
} %}

{% block content %}

  <h1>
    <blockquote>
      More than 1 in 3 people show an unconsious bias against those with a disability.
      <footer>– Staci Kroon</footer>
    </blockquote>
  </h1>

{% endblock %}