{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgBlack',
  no: 97,
  last: false,
  title: "Private sector companies are not necessarily exempt"
} %}

{% block content %}

  <h1>
    Private sector companies are not necessarily exempt.
  </h1>

{% endblock %}