{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgWhite',
  no: 98,
  last: false,
  title: "Winn Dixie"
} %}

{% block content %}

  <h1>
    Winn Dixie
  </h1>

  <img src="../img/logo-winn-dixie.jpg" alt="Winn Dixie logo" />

  <p>
    <a href="https://www.law360.com/articles/934358/winn-dixie-loses-ada-fight-over-website-accessibility">
      Winn Dixie law suit
    </a>
  </p>

{% endblock %}