{% extends 'layouts/_slide.njk' %}

{% set slide = {
  bodyClass: 'bgWhite',
  no: 99,
  last: false,
  title: "Target"
} %}

{% block content %}

  <h1>
    Target
  </h1>

  <img src="../img/logo-target.jpg" alt="Target logo" />

  <p>
    <a href="https://www.sitepoint.com/target-settles-accessibility-lawsuit-for-6-million/">
      Target law suit
    </a>
  </p>
  
{% endblock %}