$black: #1e1e1e;
$white: #ffffff;

$purple: #25263c;
$teal: #28a197;
$yellow: #ffd479;
$tan: #ece1d1;
$light-grey: #f4f3f8;

$link-colour: blue;

$contrast-intense-bg: #0096ff;
$contrast-intense-text: #ff2600;
$contrast-dyslexia-bg: #fed37f;
$contrast-dyslexia-text: #004d7f;
$contrast-low-bg: #004d7f;
$contrast-low-text: #007b76;
