html {
  font-family: Helvetica, Arial, sans-serif;
  color: $yellow
}

body {
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding: 5%;
  font-size: 1.2em;
}

a {
  color: $yellow;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .9em;
  border: 1px solid;
  padding: 1em;
}

blockquote {
  footer {
    font-size: .5em;
    font-weight: normal;
  }
}
